body {
    background-color: #7D6B91;
    color: white;
    text-align: center;
}

h1 {
  font-style: italic;
  color: deeppink;
}

.refer-links {
  font-style: italic;
  color: pink;
}

.btn {
  display: block;
  color: white;
  padding: 20px;
  background: gray;
  margin: 16px;
  box-shadow: 5px 10px #888888;
}